{% extends "basic/layout.html" %}
 
{% block extrahead %}
<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{# do not display relbars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{% macro nav() %}
        <p>
        {%- block haikurel1 %}
        {%- endblock %}
        {%- if prev %}
        «&#160;&#160;<a href="{{ prev.link|e }}">{{ prev.title }}</a>
        &#160;&#160;::&#160;&#160;
        {%- endif %}
        <a class="uplink" href="{{ pathto('reference') }}">Reference</a>
        &#160;&#160;::&#160;&#160;
        <a class="uplink" href="{{ pathto('tutorial') }}">Tutorial</a>
        &#160;&#160;::&#160;&#160;
        <a class="uplink" href="{{ pathto('gallery/index') }}">Gallery</a>
        {%- if next %}
        &#160;&#160;::&#160;&#160;
        <a href="{{ next.link|e }}">{{ next.title }}</a>&#160;&#160;»
        {%- endif %}
        {%- block haikurel2 %}
        {%- endblock %}
        </p>
{% endmacro %}

{% block content %}
      <div class="header" role="banner">
        {%- block haikuheader %}
        <img class="logo" width="79px" src="{{ logo_url|e }}" alt="Logo"/>
        <h1 class="heading"><a href="{{ pathto('index') }}">
          <span>{{ shorttitle|e }}</span></a></h1>
        <h2 class="heading"><span>{{ title|striptags|e }}</span></h2>
        {%- endblock %}
      </div>
      <div class="topnav" role="navigation" aria-label="top navigation">
      {{ nav() }}
      </div>
      <div class="content" role="main">
        {#{%- if display_toc %}
        <div id="toc">
          <h3>{{ _('Table of Contents') }}</h3>
          {{ toc }}
        </div>
        {%- endif %}#}
        {% block body %}{% endblock %}
      </div>
      <div class="bottomnav" role="navigation" aria-label="bottom navigation">
      {{ nav() }}
      </div>
{% endblock %}
